@import "../../assets/styles/colors";
@import "../../assets/styles/variables";

.ui-pdp-price {
  margin: $big-spacing 0;
  display: flex;

  &__tag {
    color: $grey-darkest;
    font-size: 46px;

    &--decimals {
      font-size: 35px;
      margin-left: 2px;
    }

    &__shipping {
      margin-left: 10px;
      height: 100%;
      display: inline-flex;
      align-items: center;
      justify-content: center;
    }
  }
}

@media only screen and (max-width: $media-breakpoint) {
  .ui-pdp-price {
    text-align: center;
    justify-content: center;
    align-items: center;
  }
}
