@import "../../assets/styles/colors";
@import "../../assets/styles/variables";

.ui-search-rescue {
  width: 100%;
  display: flex;
  padding: 0 $small-spacing;
  justify-content: center;

  .ui-search-rescue-card {
    background-color: $white;
    display: flex;
    justify-content: center;
    column-gap: $small-spacing;
    padding: $small-spacing;
    border-radius: 4px;

    &__icon {
      width: 140px;
      height: 140px;
      display: flex;
      align-content: center;
      justify-content: center;
    }

    &__info {
      line-height: 1.25;
    }

    &__title {
      color: $grey-darkest;
    }

    &__item {
      color: $grey-dark;
    }
  }
}
