.ui-home {
  width: 100%;
  display: flex;
  justify-content: center;

  .ui-home-info {
    background-color: white;
    margin-top: 32px;
    padding: 32px;
    border-radius: 4px;
    text-align: center;

    &__name {
      font-size: 18px;
    }

    &__title {
      font-size: 25px;
    }

    &__date {
      color: #333333;
      font-size: 14px;
    }
  }
}
