@import "../../assets/styles/colors";
@import "../../assets/styles/variables";

.ui-breadcrumbs {
  width: 90%;
  margin: 0 auto;
  display: grid;
  grid-template-columns: 1fr 10fr 1fr;

  &__list {
    grid-column-start: 2;
    grid-column-end: 3;
    margin: $small-spacing 0;
    list-style-type: none;
    padding: 0;
    display: flex;
    flex-wrap: wrap;
  }

  &__item {
    font-size: 14px;

    & + &::before {
      content: ">";
      color: $grey-light;
      margin: 0 5px;
    }
  }

  &__link {
    text-decoration: none;
    color: $grey-dark;
  }
}
