@import "../../assets/styles/colors";
@import "../../assets/styles/variables";

.ui-pcard-price {
  margin-top: 0;
  margin-bottom: $big-spacing;
  display: flex;

  &__tag {
    color: $grey-darkest;
    font-size: 24px;

    &--decimals {
      font-size: 18px;
      margin-left: 2px;
    }
  }

  &__shipping {
    margin-left: 10px;
    display: inline-flex;
    align-items: center;
    justify-content: center;
  }
}

@media only screen and (max-width: $media-breakpoint) {
  .ui-pcard-price {
    text-align: center;
    justify-content: center;
    align-items: center;
  }
}
